*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
skeletonseekbar/.idea/runConfigurations.xml
skeletonseekbar/gradle/wrapper/gradle-wrapper.jar
skeletonseekbar/.idea/
skeletonseekbar/local.properties
skeletonseekbar/gradlew.bat
skeletonseekbar/gradlew

*.xml
